{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'proc/style.css' %}">
	<!-- <link type="" src="{% static "my_app/example.jpg" %}" alt="My image"> -->
	<title>proc</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0277BD" >
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="http://127.0.0.1:4000/main/home/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="http://127.0.0.1:4000/main/uploadfile/" style="color: #fff" >upload log</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container-fluid" >
		{% block content %}
            {% endblock %}
	</div>
</body>
</html>