{% extends 'proc/base.html' %}
{% block content %}
<div class="center" style="height: 90vh" >
	<div class="confirm-class" >
		<h1>WellCome to Proccess mining system </h1>
		<p>for upload logs and then see model select algorithm</p>
		<a class="btn btn-primary" href="http://127.0.0.1:4000/main/uploadfilealpha/">Alpha</a>
		<a class="btn btn-primary" href="http://127.0.0.1:4000/main/uploadfileinductive/">Inductive</a>
		<a class="btn btn-primary" href="http://127.0.0.1:4000/main/uploadfileheuristics/">Heuristics</a>
	</div>
</div>
{% endblock %}
